* {
  box-sizing: border-box;
  scroll-behavior: smooth;
}

a {
  text-decoration: none;
  display: inline-block;
}

.nav .link a {
  color: #555;
  color: #ffc222;
}

.nav .link a:visited {
  color: darkgoldenrod;
}

.nav .link a:hover {
  color: #ffc222;
}

ul,
li {
  list-style: none;
  margin: 0;
  padding: 0;
}

.container {
  max-width: 1170px;
  margin: 0 auto;
  padding: 0 15px;
}

body {
  font-family: 'PT Serif', serif;
  font-weight: 400;
  font-size: 14px;
  line-height: 18px;
  color: #5e5e5e;
}

header {
  font-family: 'Roboto', sans-serif;
}


.main-header {
  display: block;
}

.main-header-mob {
  display: none;
}




.header__top {
  background-color: #303030;
}

.header__btn {
  float: right;
  line-height: 36px;
  color: #1b1b1b;
  background-color: #ffc222;
  padding: 5px 20px 4px 50px;
  font-size: 16px;
  display: block;
  position: relative;
  cursor: pointer;
}

.header__btn:before {
  content: "\f0b1";
  font-family: 'icomoon';
  position: absolute;
  left: 22px;
  color: #1b1b1b;
}

.header__contacts:after {
  content: "";
  clear: both;
  display: block;
}

.header__phone,
.header__email {
  color: #cbcacb;
  letter-spacing: 0.25px;
  line-height: 45px;
  position: relative;
}

.header__phone {
  padding-left: 20px;
  padding-right: 30px;
}

.header__phone:before {
  content: "\f095";
  font-family: 'icomoon';
  position: absolute;
  left: 0;
  color: #ffc222;
}

.header__email {
  padding-left: 24px;
}

.header__email:before {
  content: "\f003";
  font-family: 'icomoon';
  position: absolute;
  left: 0;
  color: #ffc222;
}

.main__navigation {
  padding: 34px 0px 23px;
  text-transform: uppercase;
  font-family: "Roboto", Arial, sans-serif;
  font-size: 24px;
  line-height: 24px;
  font-weight: 900;
  background-color: #f0e2e2;
  background-image: url("../img/fon.jpg");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  min-height: 500px;
}

.header__content-inner {
  display: flex;
  justify-content: space-between;
}

/* !for mobile devices */

.main-header-mob {
  display: none;
}

.main__navigation-mob {
  padding: 15px 0px 23px;
  text-transform: uppercase;
  font-family: "Roboto", Arial, sans-serif;
  font-size: 24px;
  line-height: 24px;
  font-weight: 900;
  background-color: #f0e2e2;
  background-image: url("../img/fon.jpg");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  min-height: 300px;
}

.no__flex {
  display: block;
}

.menu-icon {
  display: block;
  font-size: 0;
  background: none;
  border: none;
  width: 30px;
  height: 25px;
  position: absolute;
  cursor: pointer;
  right: 50px;
}

.menu-icon,
.menu-icon:before,
.menu-icon:after {
  border-top: 5px solid #ffc222;
  -webkit-transition: all .3s;
  -moz-transition: all .3s;
  transition: all .3s;
}

.menu-icon:before,
.menu-icon:after {
  position: absolute;
  content: "";
  display: block;
  left: 0;
  right: 0;
}

.menu-icon:before {
  top: 6px;
}

.menu-icon:after {
  top: 17px;
}

.menu-icon.opened {
  border-top-color: transparent;
}

.menu-icon.opened:after {
  -webkit-transform: rotate(45deg);
  -moz-transform: rotate(45deg);
  transform: rotate(45deg);
  top: 12px;
}

.menu-icon.opened:before {
  -webkit-transform: rotate(-45deg);
  -moz-transform: rotate(-45deg);
  transform: rotate(-45deg);
  top: 12px;
}

/*styles for menu container*/
.menu-container {
  padding-top: 50px;
}

.menu-container ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

.menu-container li {
  margin-bottom: 5px;
}

.menu-container a {
  display: block;
  padding: 5px 0;
  color: #fff;
  background: #ccc;
  text-decoration: none;
  text-align: center;
}

.menu-container {
  display: none;
}

.menu-container.opened {
  display: block;
  margin-top: 5px;
}

.hide__logo {
  display: none;
}

.site__navigation li {
  display: inline-block;
}

.site__navigation a {
  color: #ffc222;
  font-size: 15px;
  transition: all .3s;
}

.site__navigation a:hover {
  color: darkgoldenrod;
}

.site__navigation li+li {
  padding-left: 10px;
}


.about {
  padding: 50px 0px 30px;
}

.about__top {
  display: flex;
  justify-content: space-between;
  margin-bottom: 60px;
}

.about__title-box {
  max-width: 700px;
  padding-left: 140px;
  position: relative;
}

.about__title-box:before {
  content: "";
  position: absolute;
  width: 100px;
  height: 2px;
  background-color: darkgoldenrod;
  left: 0;
  top: 11px;
}

.about__title {
  font-size: 24px;
  font-weight: 500;
  line-height: 24px;
  color: #0c0c0c;
  font-family: "Roboto", Arial, sans-serif;
  margin-bottom: 10px;
}

.about__text {
  letter-spacing: 0.1px;
}

.about__btn a {
  color: #373636;
  line-height: 24px;
  padding: 5px 38px;
  border: 3px solid #e6e6e6;
}

.about__btn button {
  color: #373636;
  line-height: 24px;
  padding: 5px 38px;
  border: 3px solid #e6e6e6;
}


.about__items {
  display: flex;
  justify-content: space-between;
}

.about__item {
  max-width: 360px;
  text-align: center;
  padding: 30px 0px 80px;
  position: relative;
  min-height: 375px;
  background-color: #f9f9f9;
  box-shadow: 0px 7px 24.3px 2.7px rgba(91, 89, 89, 0.14);
}

.about__item-title {
  color: #212020;
  font-size: 18px;
  line-height: 24px;
  font-weight: 500;
  font-family: "Roboto", Arial, sans-serif;
  padding: 24px 0px;
}

.about__item-text {
  letter-spacing: 0.1px;
  padding: 0px 30px 30px;
}

.centering1 {
  padding-left: 7px;

}

.centering2 {
  padding-left: 18px;
}

.map__btn {
  padding: 20px 140px 0px 0px;
}

.map {
  display: block;
  opacity: 0;
  height: 0;
  overflow: hidden;
  transition: opacity .3s, height .3s;
}

.is__open {
  height: 610px;
  opacity: 1;
}

#modal {
  display: none;
}

#modal.opened {
  display: inline-block;
}

#modal.top-modal {
  background-color: #ffc222;
  border: none;
}


#modal input {
  display: block;
  width: 100%;
  margin-bottom: 20px;
  outline: none;
  height: 40px;
  border: 1px solid #e6e6e6;
  padding: 0px 10px;
  font-family: 'Roboto', Arial, sans-serif;
  font-weight: 400;
}

#modal input[type="submit"] {
  background-color: #ffc222;
  border: none;
}

.modal__cross {
  width: 15px;
  height: 15px;
  position: absolute;
  top: 20px;
  right: 20px;
  fill: #444;
  cursor: pointer;
}

.footer {
  background-color: #303030;
  text-align: center;
  font-size: 12px;
  line-height: 24px;
  padding: 8px 0px;
  font-weight: 400;
  font-family: 'Roboto', Arial, sans-serif;
}

.navigation__btn {
  display: none;
  font-size: 28px;
  margin-right: 30px;
  margin-top: 20px;
}


/* Блок для нава */

@import url("https://fonts.googleapis.com/css?family=Open+Sans:700");
@import url("https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* html, body {
  height: 100vh;
}

body {
  font: 16px/1 'Open Sans', sans-serif;
  background: #ddd;
} */

.nav {
  display: inline-block;
  top: 50%;
  left: 50%;
  width: 500px;
  height: 80px;
  margin-top: 40px;
  margin-left: -250px;
  background: transparent;
  transform: translateZ(0);
}

.nav:hover .link {
  width: 5%;
}

.nav .link {
  position: relative;
  float: left;
  width: 20%;
  height: 100%;
  color: #aaa;
  transition: .5s width;
  overflow: hidden;
  cursor: pointer;
}

.nav .link:last-child {
  border-right: 0;
}

.nav .link:hover {
  width: 80%;
  color: #555;
}

.nav .link .small {
  position: absolute;
  top: 0;
  left: 0;
  width: 100px;
  line-height: 78px;
  text-align: center;
  font-family: fontawesome;
  font-size: 24px;
}

.nav .link .full {
  position: absolute;
  top: 18px;
  left: 100px;
  text-transform: uppercase;
}

.nav .link .full .f1,
.nav .link .full .f2 {
  font-size: 16px;
  font-weight: 700;
  white-space: nowrap;
}

.nav .link .full .f2 {
  font-size: 12px;
}

.nav .link .prev {
  position: absolute;
  top: 0;
  left: 7px;
  font-family: fontawesome;
  font-size: 12px;
  line-height: 78px;
  transition: .5s opacity;
  opacity: 0;
}

.main:before {
  content: "\e905";
  font-family: "icomoon";
  font-style: normal;
  margin-left: 0px;
  color: #ffc222;
}

.filosofy:before {
  content: "\e907";
  font-family: "icomoon";
  font-style: normal;
  margin-left: 0px;
  color: #ffc222;
}

.portfolio:before {
  content: "\e930";
  font-family: "icomoon";
  font-style: normal;
  margin-left: 0px;
  color: #ffc222;
}

.care:before {
  content: "\e998";
  font-family: "icomoon";
  font-style: normal;
  margin-left: 0px;
  color: #ffc222;
}

.shop:before {
  content: "\e93a";
  font-family: "icomoon";
  font-style: normal;
  margin-left: 0px;
  color: #ffc222;
}

.nav .link:hover .prev {
  opacity: 0;
}

.nav:hover .prev {
  opacity: 1;
}